<!--<h1>Hi {{vm.user.firstName}}!</h1>
<p>You're logged in!!</p>
<h3>All registered users:</h3>
<ul>
    <li ng-repeat="user in vm.allUsers">
        {{user.email}} ({{user.firstName}} {{user.lastName}})
        - <a href="#" ng-click="vm.deleteUser(user.id)">Delete</a>
    </li>
</ul>
<p>&nbsp;</p>
<p><a href="#/login" class="btn btn-primary">Logout</a></p>-->

<div class="jumbotron">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1>Grand Salami <br/><small>{{vm.currentSalami.time}}</small></h1>
            <h2 class="salami-title">{{vm.currentSalami.grandsalami}}</h2>
            <h2>Live Salami: <small>{{vm.currentSalami.finalscore}}</small></h2>
            <h3>Over/Under: <small>{{vm.currentSalami.over_under}}</small></h3>
            <h3>Status: {{vm.currentSalami.status}}</h3>
            
        </div>
    </div>

    <div class="row">
        <div class="col-sm-4 col-sm-offset-4" ng-hide="vm.user.hasCurrentDayWager == false">
            <h3>Your Wager Is: <span style="color: green">{{vm.user.currentWager}}</span></h3>
        </div>
        <div class="col-sm-4 col-sm-offset-4" ng-hide="vm.user.hasCurrentDayWager == true  || vm.currentSalami.status != 'open'">
            <label for="newWager">Set your wager: </label>
            <select id="newWager" class="form-control" ng-model="vm.newWager.wager" class="form-control">
                <option value="over">Over</option>
                <option value="under">Under</option>
            </select>
            <button class="btn btn-success" ng-click="vm.placeSalamiWager()">Place Wager</button>
        </div>

    </div>
</div>



<div class="row">
    <div class="col-sm-4">
        <blockquote>
        <p>Your Current Record: </p>
        </blockquote>
    </div>
    <div class="col-sm-4">
        <ul class="list-group">
            <li class="list-group-item">
                <span class="badge">{{vm.user.record.win}}</span>
                Wins
            </li>
            <li class="list-group-item">
                <span class="badge">{{vm.user.record.loss}}</span>
                Losses
            </li>
            <li class="list-group-item">
                <span class="badge">{{vm.user.record.draw}}</span>
                Push Bets
            </li>
        </ul>
    </div>
</div>



