
<div class="panel panel-success">
    <div class="panel-heading"><h1>My League</h1></div>
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Wins</th>
                <th>Losses</th>
                <th>Push</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="user in vm.leagueUsers track by $index">
                <th scope="row">{{$index}}</th>
                <td ng-class="{bold-text: user.firstName == vm.user.firstName}">{{user.firstName}}</td>
                <td>{{user.lastName}}</td>
                <td>{{user.record.wins}}</td>
                <td>{{user.record.losses}}</td>
                <td>{{user.record.draws}}</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
                <td>{{user.record.losses}}</td>
                <td>{{user.record.draws}}</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Larry</td>
                <td>the Bird</td>
                <td>@twitter</td>
                <td>{{user.record.losses}}</td>
                <td>{{user.record.draws}}</td>
            </tr>
        </tbody>
    </table>
</div>